<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Iwe7Oauth2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="../addons/iwe7_oauth2/template/styles.641bc23fdabce6d5cae9.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="../addons/iwe7_oauth2/template/runtime.1aa51a1e6dbc98676933.js"></script><script type="text/javascript" src="../addons/iwe7_oauth2/template/polyfills.0b5822a3af76d8119fd1.js"></script><script type="text/javascript" src="../addons/iwe7_oauth2/template/scripts.9806dbe6a179151c9e4c.js"></script><script type="text/javascript" src="../addons/iwe7_oauth2/template/main.c492d518a1f0222e35a3.js"></script></body>
</html>
